body{
	width: 288px;
	margin: 0 auto;
	font-size: 12px;
}


#slide  {
	list-style: none;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: 0 0 5px black;
	
	
}

#slide ul{
	list-style: none;
}

#slide ul li{
	text-align: center;
}

#slide ul li img{
	max-width: 100%;
}


#slide > div {
	transition: .3s;
	font-size: 0em;
	width: 100%;
	
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	        transform: translateX(0);
	
	-webkit-animation: slideAnimation 20s infinite ease-in-out;
	   -moz-animation: slideAnimation 20s infinite ease-in-out;
	        animation: slideAnimation 20s infinite ease-in-out;
}


#slide > div > ul {
	display: inline-block;
	width: 100%;;
	margin: 0;
}

#slide > div  ul {
	font-size: 11px;
	display: inline-block;
	width: 100%;
	vertical-align: middle;
	padding: 0;
}

/* PROGRESS BAR */

div.progress-bar {
	position: relative;
	width: 100%;
	height: 5px;
	display: block;
	overflow: hidden;
}

div.progress-bar div {
	position: relative;
	width: 100%;
	height: 100%;
	background: #00ACEE;
	display: block;//
	
	-webkit-transform: translateX(-100%);
	   -moz-transform: translateX(-100%);
	        transform: translateX(-100%);
	  
	-webkit-animation: fullexpand 5s linear infinite;
	   -moz-animation: fullexpand 5s linear infinite;
	        animation: fullexpand 5s linear infinite;
}

#slide:hover > div, #slide:hover + div.progress-bar div {
	-webkit-animation-play-state: paused;
	   -moz-animation-play-state: paused;
	        animation-play-state: paused;
}

#slide:hover + div.progress-bar {
	-webkit-animation: blink 1s linear infinite;
	   -moz-animation: blink 1s linear infinite;
	        animation: blink 1s linear infinite;
	        
	/*-webkit-animation-play-state: running;
	   -moz-animation-play-state: running;
	        animation-play-state: running;*/
}




@-webkit-keyframes fullexpandmargin { /* old version : margin*/
	0% 		{ margin-left: -100%;  	opacity:0.5; }
	80% 	{ margin-left: 0; 		opacity:1; }
	100% 	{ margin-left: 0; 		opacity:0; }
}

@-webkit-keyframes fullexpand {
	0% 		{ -webkit-transform: translateX(-100%);  	opacity:0.5; }
	80% 	{ -webkit-transform: translateX(0%); 		opacity:1; }
	100% 	{ -webkit-transform: translateX(0%);  		opacity:0; }
}

@-moz-keyframes fullexpand {
	0% 		{ -moz-transform: translateX(-100%);  	opacity:0.5; }
	80% 	{ -moz-transform: translateX(0%); 		opacity:1; }
	100% 	{ -moz-transform: translateX(0%);  		opacity:0; }
}

@keyframes fullexpand {
	0% 		{ transform: translateX(-100%);  	opacity:0.5; }
	80% 	{ transform: translateX(0%); 		opacity:1; }
	100% 	{ transform: translateX(0%);  		opacity:0; }
}


@-webkit-keyframes blink{
	0% 		{ opacity:1; }
	
	10% 	{ opacity:0; }
	50% 	{ opacity:0; }
		
	90% 	{ opacity:1; }
	100% 	{ opacity:1; }
}

@-moz-keyframes blink{
	0% 		{ opacity:1; }
	
	10% 	{ opacity:0; }
	50% 	{ opacity:0; }
		
	90% 	{ opacity:1; }
	100% 	{ opacity:1; }
}

/*@-webkit-keyframes slideAnimation{
	0% 		{ margin-left: 0px; }
	20%  	{ margin-left: 0px;}
	
	25%  	{ margin-left: -100%; }
	45%  	{ margin-left: -100%; }
	
	50%  	{ margin-left: -200%; }
	70%  	{ margin-left: -200%; }
	
	75%  	{ margin-left: -300%; }
	95%  	{ margin-left: -300%; }
	
	100% 	{ margin-left: 0;}
}*/

@-webkit-keyframes slideAnimation{
	0% 	{ -webkit-transform: translateX(0); } 
	20% { -webkit-transform: translateX(0);}
	
	25% { -webkit-transform: translateX(-100%); }
	45% { -webkit-transform: translateX(-100%); }
	
	50% { -webkit-transform: translateX(-200%); }	
	70% { -webkit-transform: translateX(-200%); }
	
	75% { -webkit-transform: translateX(-300%); }	
	95% { -webkit-transform: translateX(-300%); }
	
	100% { -webkit-transform: translateX(0); }
}

@-moz-keyframes slideAnimation{
	0% 	{ -moz-transform: translateX(0); } 
	20% { -moz-transform: translateX(0);}
	
	25% { -moz-transform: translateX(-100%); }
	45% { -moz-transform: translateX(-100%); }
	
	50% { -moz-transform: translateX(-200%); }	
	70% { -moz-transform: translateX(-200%); }
	
	75% { -moz-transform: translateX(-300%); }	
	95% { -moz-transform: translateX(-300%); }
	
	100% { -moz-transform: translateX(0); }
}

@keyframes slideAnimation{
	0% 	{ transform: translateX(0); } 
	20% { transform: translateX(0);}
	
	25% { transform: translateX(-100%); }
	45% { transform: translateX(-100%); }
	
	50% { transform: translateX(-200%); }	
	70% { transform: translateX(-200%); }
	
	75% { transform: translateX(-300%); }	
	95% { transform: translateX(-300%); }
	
	100% { transform: translateX(0); }
}

#slideControls {
	text-align: center;
	width: 300px;
	position: relative;
}

#slideControls ul {
	list-style: none;
	font-size: 0;
	padding: 0;
	margin: 0;
}

#slideControls ul li {
	display: inline-block;
	width: 1em;
	height: 1em;
	border-radius: 10em;
	background-color: #aaa;
	color: #aaa;
	text-shadow: none;
	border: 1px solid #6e7176;
	margin: 10px 1px;
	font-size: 12px;
}


#slideControls ul li:nth-child(1)::after {
	content: "";
	width: 1em;
	height: 1em;
	border-radius: 10em;
	background-color: #e6eaf2;
	left: 0;
	top: 0;
	display: block;
}

#slideControls ul li:nth-child(1)::after {
	-webkit-animation: controls 20s infinite ease-in-out;
	   -moz-animation: controls 20s infinite ease-in-out;
	        animation: controls 20s infinite ease-in-out;
}


@-webkit-keyframes controls {
	0% 	{ -webkit-transform: translateX(0) } 
	20% { -webkit-transform: translateX(0)}
	
	25% { -webkit-transform: translateX(16px) }
	45% { -webkit-transform: translateX(16px) }
	
	50% { -webkit-transform: translateX(32px) }	
	70% { -webkit-transform: translateX(32px) }
	
	75% { -webkit-transform: translateX(48px) }	
	95% { -webkit-transform: translateX(48px) }
	
	100% { -webkit-transform: translateX(0) }
}

@-moz-keyframes controls {
	0% 	{ -moz-transform: translateX(0) } 
	20% { -moz-transform: translateX(0)}
	
	25% { -moz-transform: translateX(16px) }
	45% { -moz-transform: translateX(16px) }
	
	50% { -moz-transform: translateX(32px) }	
	70% { -moz-transform: translateX(32px) }
	
	75% { -moz-transform: translateX(48px) }	
	95% { -moz-transform: translateX(48px) }
	
	100% { -moz-transform: translateX(0) }
}

@keyframes controls {
	0% 	{ transform: translateX(0) } 
	20% { transform: translateX(0)}
	
	25% { transform: translateX(16px) }
	45% { transform: translateX(16px) }
	
	50% { transform: translateX(32px) }	
	70% { transform: translateX(32px) }
	
	75% { transform: translateX(48px) }	
	95% { transform: translateX(48px) }
	
	100% { transform: translateX(0) }
}
